$white: white;
$black: black;
$blue: blue;
$cyan: cyan;
$lime: lime;
$red: red;
$yellow: yellow;
$indigo: indigo;
$purple: purple;
$violet: violet;
$pink: pink;
$teal: teal;
$orange: orange;
$crimson: crimson;
$green: green;
$gold: gold;
$grey: grey;
$silver: silver;

$bg-555: #555;
$bg-444: #444;
$bg-333: #333;