.footer-container {
    width: 100%;
    max-width: 1374px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto; 
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    font-weight: 600;
    width: 100%;
}

.site-menu .menu-item+.menu-item {
    margin-left: 1.25rem;
}

.site-menu .menu-item {
    line-height: 40px;
    align-self: center;
    white-space: nowrap;
}

.site-footer {
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    border-top-width: 1px;
    border-color: #f0f2f4;
    color: #334155;
    font-size: 0.875rem;
    background-color: #fafbfc;
}

.site-footer a {
    color: #334155;
}

.site-footer a:hover {
    color: #1E293B;
}

.footer-logo {
    border-radius: 50%;
    height: 60px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.container-readable {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    .border-top {
        border-top-width: 1px;
        border-color: #000;
    }

    .leading-loose {
        line-height: 2;
    }
}

@media (min-width: 768px) {
    .footer-container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.dark {
    .site-footer {
        background-color: #333;
        color: #fff;
    }

    .site-footer a {
        color: red;
    }

    .site-footer a:hover {
        color: red;
    }

    .container-readable {
        .border-top {
            border-color: #000;
        }
    }
}